{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-preview">
    <meta name="turbolinks-cache-control" content="no-cache">
    <title>
        {% if page_title %}
            {{ page_title }}
        {% else %}
            WMS
        {% endif %}
    </title>
    <link rel="stylesheet" href="{% static 'vendor/css/bulma-0.7.4.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/datepicker-bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/bulma-checkradio.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/dataTables.bulma.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/modal-fx.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/bulma-tooltip.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/buttons.dataTables.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="{% static 'vendor/js/turbolinks.js' %}"></script>
    <script src="{% static 'js/table_settings.js' %}"></script>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
{% if user.is_authenticated %}
    <nav class="navbar columns is-fixed-top" role="navigation" aria-label="main navigation" id="app-header">
        <div class="navbar-brand column is-2 is-paddingless">
            <a class="navbar-item" href="/">
                Labra WMS
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="touchMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="touchMenu">

        </div>

        <div id="navMenu" class="navbar-menu column is-hidden-touch">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="button is-white">
                    <span class="icon">
                        <i class="far fa-bell"></i>
                    </span>
                    </a>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link username">
                        {% if user.first_name or user.last_name %}
                            {{ user.first_name }} {{ user.last_name }}
                        {% else %}
                            {{ user.email }}
                        {% endif %}
                    </a>
                    <div class="navbar-dropdown">
                        {#                        <a class="dropdown-item" href="{% url 'users:detail' request.user.id %}">#}
                        {#                            Профиль#}
                        {#                        </a>#}
                        {#                        <hr class="dropdown-divider">#}
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            Выйти
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endif %}
<section class="columns" id="app-content">
    {% if user.is_authenticated %}
        <div class="column is-2 is-fullheight is-hidden-touch" id="navigation">
            <aside class="menu">
                <ul class="menu-list">
                    <li>
                        <a href="{% url 'tenders:list' %}">
                    <span class="icon">
                        <i class="fa fa-address-card"></i>
                    </span> Контрагенты
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'tenders:auth-list' %}">
                    <span class="icon">
                        <i class="fa fa-building"></i>
                    </span> Авторизации
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'tenders:task-list' %}">
                    <span class="icon">
                        <i class="fa fa-tasks"></i>
                    </span> Заказы
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'tenders:product-list' %}">
                    <span class="icon">
                        <i class="fas fa-list-ol"></i>
                    </span> Товары
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'tenders:product_type-list' %}">
                    <span class="icon">
                        <i class="fa fa-capsules"></i>
                    </span> Номенклатура
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'users:list' %}">
                    <span class="icon">
                        <i class="fa fa-users"></i>
                    </span> Пользователи
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
    {% endif %}

    <div class="column is-10" id="page-content">
        <div class="content-body">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</section>

<script src="{% static 'vendor/js/jquery3.4.1.min.js' %}"></script>
<script src="{% static 'vendor/js/fetch.js' %}"></script>
<script src="{% static 'vendor/js/datepicker.min.js' %}"></script>
<script src="{% static 'vendor/js/datepicker-ru.js' %}"></script>
<script src="{% static 'vendor/js/datatables.min.js' %}"></script>
<script src="{% static 'vendor/js/dataTables.bulma.js' %}"></script>
<script src="{% static 'vendor/js/modal-fx.min.js' %}"></script>
<script src="{% static 'vendor/js/select2.min.js' %}"></script>
<script src="{% static 'vendor/js/moment.min.js' %}"></script>
<script src="{% static 'vendor/js/datetime-moment.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'vendor/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendor/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendor/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendor/js/jszip.min.js' %}"></script>
<script src="{% static 'vendor/js/pdfmake.min.js' %}"></script>
<script src="{% static 'vendor/js/vfs_fonts.js' %}"></script>
<script src="{% static 'vendor/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% block extra_js %}
{% endblock %}
</body>
</html>
