<div id="confirm-delete-modal" class="modal modal-fx-slideTop modal-pos-bottom is-tiny">
    <div class="modal-background"></div>
    <div class="modal-card modal-content is-tiny">
        <header class="modal-card-head">
            <p class="modal-card-title">Подтвердите действие</p>
            <button class="delete close-modal" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <p>Вы действительно хотите удалить эту запись? Действие нельзя будет отменить.</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button close-modal" aria-label="close" >Отмена</button>
            <a class="button is-danger confirm">Удалить</a>
        </footer>
    </div>
</div>