{% extends 'list.html' %}

{% block object_add_url %}{% url 'tenders:task-add' %}{% endblock %}

{% block table %}
    {% include "visualization.html" %}
    <table id="tasks" class="table is-hoverable is-fullwidth list" style="width: 100%">
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Дата рождения</th>
            <th>Пол</th>
            <th>Город</th>
            <th>Заработок ₽</th>
            <th>Траты ₽</th>
            <th>Долг ипотека ₽</th>
            <th>Долг потреб кредит ₽</th>
            <th>Долг кредитная карта₽</th>
            <th>Текущий счет ₽</th>
            <th>Карточный счет ₽</th>
            <th>Накопительный счет ₽</th>
            <th>Депозит ₽</th>
        </tr>
        </thead>
    </table>
    {% include 'confirm_delete_modal.html' %}
{% endblock %}

{% block extra_js %}
{#    <script>#}
{#    $( document ).ready(function() {#}
{#  let endpoint = 'http://127.0.0.1:8000/api/visualizations/line/?client_id=1&mcc=1488'#}
{#    $.ajax({#}
{#        url: 'http://127.0.0.1:8000/api/visualizations/line/?client_id=1&mcc=1488',#}
{#        contentType: "application/json",#}
{#        dataType: 'json',#}
{#        success: function(result){#}
{#                Highcharts.chart('chart', result);#}
{#                console.log(result);#}
{#        }#}
{#    })#}
{#});#}
{#    </script>#}
    <script>
        $.fn.dataTable.moment('DD.MM.YYYY');
        dataTable = $('table#tasks').DataTable({
            "ajax": "/api/client/?format=datatables",
            ...globalTableHead,
            "createdRow": function (row, data, dataIndex) {
                if (data.comment === "")
                    $(row.childNodes[0]).addClass("viz-hidden")
            },
            ...exportButtons,
            "columns": [
                {#{#}
                {#    "data": "tender",#}
                {#    "name": "tender.title",#}
                {#    "render": function (data) {#}
                {#        return "<a href='" + data.links.view + "' >" + data.title + "</a>";#}
                {#    }#}
                {#},#}
                {"data": "surname"},
                {"data": "name"},
                {"data" : "birthday"},
                {"data" : "gender_code"},
                {"data" : "directory"},
                {"data" : "sWork_S"},
                {"data" : "tPOS_S"},
                {"data" : "aMRG_eop", "visible" : false},
                {"data" : "aCSH_eop", "visible" : false},
                {"data" : "aCRD_eop", "visible" : false},
                {"data" : "pCUR_eop", "visible" : false},
                {"data" : "pCRD_eop", "visible" : false},
                {"data" : "pSAV_eop", "visible" : false},
                {"data" : "pDEP_eop", "visible" : false}
            ],
            "order": [[1, 'desc']]
        });
    </script>
{% endblock %}

